<script>
    $(document).ready(function(){
        createVoteLinks(USER_LOGGED.id);  
        $('#changePasswordLink').click(function(){
            $('#content').load('components/content/recoverPassword.html');
        });
        $('#vp_counter').text(USER_LOGGED.votes + ' pts.');     
        $('#voteList').click(function(){
            $('#content').load('components/content/voteHistory.html');
            loadVotes(USER_LOGGED.id);
         });
    });
</script>
<!-- IF -->        
<!-- Aqui, Esse dropdown só deve aparecer caso não esteja logado -->
<div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Account
    </button>
    <div class="dropdown-menu bg-dark" style="right: 0; left: unset; color: white; min-width: 250px;">

        <h4 id="loginMessage"></h4>
        <a class="dropdown-item white disabled">Change E-mail</a>
        <a id="changePasswordLink" class="dropdown-item white" href="#">Change Password</a> 
        
        <div class="dropdown-divider"></div>
        <a id="voteList" class="dropdown-item white" >Histórico de Votos</a>        
        <a id="voteStore" class="dropdown-item white disabled" >Vote Store<span class="float-right" id="vp_counter">0 pts</span></a>        
    
        <div class="dropdown-divider"></div>
        <a id="logout" class="dropdown-item white" href="/index.html"> LogOut</a>
        <div class="dropdown-divider"></div>
        </div>
</div>
<!-- ENDIF -->