#eventProgress {
    width: 100%;
    background-color: grey;
    border-radius: 25px;
  }
  
  #eventProgressBar {
    width: 0.1%;
    height: 30px;
    background-color: #FB8703;
    border-radius: 25px;
  }

  .votes {
      color: #EDED;
      padding-left: 10px;
      padding-right: 10px;
  }