<link rel="stylesheet" type="text/css" href="components/progressBar/progressBar.css">
<div>
    <div class="votes"><span>Votos Totais:</span><span id="eventsCurrentVotes" class="float-right"></span></div>
    <br>
    <div class="votes">
        <span class="float-left">0</span>
        <span id="eventsMilestone" class="float-right"></span>
    </div>
    <div id="eventProgress">
        <div id="eventProgressBar"></div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var events = new Events();
    });
</script>