<script>
    $(document).ready(function(){
        $('#loginButton').load('components/login/loggedOut.html');
        $('#homeLink').click(function(){ return loadIndex(); });
        $('#onlineListLink').click(function(){ return loadList(); });
        $('#rankList').click(function(){ return loadRankList(); });
        $('#registerLink').click(function(){ return loadRegister(); });
    });
</script>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">						
    <a class="navbar-brand" href="./index.html"><img src="img/icon.png" style="max-height: 30px;"></a>
    <button	class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li id="homeLink"class="active"><a class="nav-link" href="#" >Home</a></li>
            <li id="onlineListLink"><a class="nav-link" href="#" >Lista Online</a></li>
            <li id="rankList"><a class="nav-link" href="#" >Ranking</a></li>
            <li id="registerLink"><a class="nav-link" href="#">Registrar</a></li>
            <li id="discordLink"><a class="nav-link" href="https://discord.gg/Yybxs5m" target="_blank">Discord</a></li>
            <li><a class="nav-link" href="https://trello.com/b/IX7MaqiO/nullwow" target="_blank">Trello</a></li>
            <li><a class="nav-link" href="magnet:?xt=urn:btih:08388f74cb683ef25d31b5d9c34a0411e4555c2c&dn=WOW+Wotlk+3.3.5a&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Fzer0day.ch%3A1337&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Fexodus.desync.com%3A6969">Download</a></li>
        </ul>
        <div id="loginButton"></div>
    </div>
</nav>
