<script>
    $(document).ready(function(){
        $('#homeLink').click(function(){return loadIndex();});
        $('#onlineListLink').click(function(){return loadList();});
        $('#registerLink').click(function(){return loadRegister();})
    });
</script>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">						
    <a class="navbar-brand" href="./index.html"><img src="img/icon.png" style="max-height: 30px;"></a>
    <button	class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li id="homeLink"class="active"><a class="nav-link" href="#" >Home</a></li>
            <li id="onlineListLink"><a class="nav-link" href="#" >Online List</a></li>					
            <li id="registerLink"><a class="nav-link" href="#">Register</a></li>
            <li><a class="nav-link" href="https://trello.com/b/IX7MaqiO/nullwow" target="_blank">Trello</a></li>
            <li><a class="nav-link" href="magnet:?xt=urn:btih:08388f74cb683ef25d31b5d9c34a0411e4555c2c&dn=WOW+Wotlk+3.3.5a&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Fzer0day.ch%3A1337&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Fexodus.desync.com%3A6969">Download</a></li>
        </ul>
        <a class="navbar-text" href="https://topg.org/wow-private-servers/in-488461" target="_blank"><img src="https://topg.org/topg2.gif" width="55" height="30" border="0" alt="wow private servers"></a>
        <a class="navbar-text" href="https://www.xtremetop100.com/in.php?site=1132365223" title="World of Warcraft Server" target="_blank"><img style="width: 55; height: 30px;" src="https://www.xtremeTop100.com/votenew.jpg" border="0" alt="World of Warcraft Server"></a>
        <a class="navbar-text" href="http://www.topservers200.com/in.php?id=19999"  target="_blank"><img style="width: 55; height: 30px;" src="https://www.topservers200.com/button/19999.png" alt="Vote no Top 200" border="0"></a>
	<a class="navbar-text" href="https://www.top100arena.com/wow-private-server/" target="_blank" title="WoW private server"><img src="https://www.top100arena.com/hit.asp?id=93676&c=WoW&t=1" alt="WoW private server" width="55px" height="30px" border="0"></a>
    </div>
</nav>
