<div class="factsheet">
        <p id="title">Próximos Eventos</p>
        <ul>
            <li>Double VP <span class="glyphicon glyphicon-ok float-right" aria-hidden="true"></span></li>
            <li>Instant 60 <span class="glyphicon glyphicon-minus float-right"></span></li>
            <li>Double Loot <span class="glyphicon glyphicon-minus float-right"></span></li>
            <li>Double XP <span class="glyphicon glyphicon-minus float-right"></span></li>
        </ul>
    </div>
    