<div class="factsheet">
        <p id="title">Próximos Eventos</p>
        <ul>
            <li>Double Loot <i class="fa fa-times float-right"></i></li>
            <li>Double XP   <i class="fa fa-times float-right"></i></li>
            <li>Double VP   <i class="fa fa-check float-right" aria-hidden="true"></i></li>
            <li>Instant 60  <i class="fa fa-clock float-right"></i></li>
            <li>Double Loot <i class="fa fa-clock float-right"></i></li>
            <li>Double XP   <i class="fa fa-clock float-right"></i></li>
        </ul>
    </div>
    