<div class="factsheet">
    <p id="title">Informações</p>
    <ul >
        <li>Online: <span id="uOnline"></span>/50</li>
        <li><b>realmlist: set realmlist nullwow.bovendorp.org</b></li>
        <li>Rates: 10x </li>
        <li>Desenvolvedor: Dehzo</li>
        <li>Lançamento: Abril/18</li>
        <li><a href="http://www.facebook.com/nullwow.org">Facebook</a></li>
        <li>Free to Play! Sem vendas de itens!</li>					
    </ul>
</div>

<script>
    $('document').ready(getNumPlayersOnline(function(players){
        $('#uOnline').text(players);
    }));
</script>
