<script src="https://wow.zamimg.com/widgets/power.js"></script>
<script>
    var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};
    $(document).ready(function(){
        doLoadStore();
    });
</script>
<link rel="stylesheet" type="text/css" href="css/store.css">

<div id="storeContent" class="offset-md-1">
	<!-- <div class="col-md-3 outerBox">
		<a data-wowhead="item=2828">
			<div class="row storeContentCenter text-center">
				<div class="col-md-12">
					<span class="text-center">NOME DO ITEM DO CHESSUS</span>
				</div>
			</div>
			<div class="row storeButton">
				<button class="btn-primary"> Adicionar a Conta </button>
			</div>
			<div class="row storeContentBottom" >
				<div class="col-md-6">
					TIPO DO ITEM
				</div>
				<div class="col-md-6">
					VALOR DO ITEm
				</div>
			</div>
		</a>
	</div> -->
</div>
