<script src="https://wow.zamimg.com/widgets/power.js"></script>
<script>
    var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};
    $(document).ready(function(){
		doLoadStore();
		doGetChar();
    });
</script>
<link rel="stylesheet" type="text/css" href="css/store.css">

<div class="row">
	<div class="offset-md-2 col-md-3">
		<span class="float-right" style="color: white;">Selecione o Personagem</span>
	</div>
	<div class="col-md-5">
		<select class="form-control" name="storeCharacterSelect" id="storeCharacterSelect"></select>

	</div>

</div>

<div id="storeContent" class="offset-md-1">

</div>
